.newsletter {
  //background-color: #829ff9;
  display: flex;
  justify-content: center;
  background-color: $primaryColor;
}

.newsletter-container {
  margin: 5rem;
  @include mobile {
    margin: 0;
    width: 90%;
    padding: 2.5rem 0;
  }
  padding: 1em 0 1em 0;
  width: 50%;
  line-height: 1em;

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  p {
    font-size: 1.7em;
    padding: 2.5rem 0;
    @include mobile {
      line-height: 1.6rem;
    }

  }
}

.form {
  display: flex;
  flex-direction: column;
}

.form__field {
  display: flex;
  flex-direction: column;
}

.form__field:first-of-type {
  margin-bottom: 2rem;
}

.form__label {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1rem;
  letter-spacing: .1rem;
  font-size: 1.2rem;
  padding-bottom: .5rem;
}

.form__input {
  border: 1px solid grey;
  background-color: transparent;
  line-height: 2.6rem;
}

.form__consent {

  display: flex;
  flex-direction: row;
  @include mobile {
    padding-bottom: 1rem;
  }

  a {
    color: black;
  }
}


.form__checkbox {
  display: block;
  position: relative;
  padding-left: 3.5em;
}

.form__checkbox .checkbox {
  position: absolute;
  top: 2rem;
  left: 0;
  height: 2.2rem;
  width: 2.2rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: .2rem;
  @include mobile {
    top: 3rem;
  }
}

@include mobile {
  .consent__text {
    line-height: 2rem;
  }
}

.form__checkbox input:checked ~ .checkbox {
  background-image: url(/assets/images/Checkmark.svg);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.buttons {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    margin: 0 5em 0 5em;
    width: 55%;
  }


}
